<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {{#if edit}}
            Editing article - {{title}} - FreeMD
        {{else}}
            New page - FreeMD
        {{/if}}
    </title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/edit.css">
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
</head>
<body>
    <header>
        <div id="header-left">
            <h1 id="header-title" onclick="window.location.href = '/'">FreeMD</h1>
        </div>
    </header>
    <form action="{{#if edit}}/api/edit{{else}}/api/new{{/if}}" method="POST">
        {{#if edit}}
            <input type="hidden" name="id" value="{{id}}">
        {{/if}}
        <input type="text" name="title" id="title-input" placeholder="Title" value="{{#if title}}{{title}}{{/if}}" required>
        <textarea name="content" id="content" placeholder="Content (markdown)">{{#if content}}{{content}}{{/if}}</textarea>
        <div id="preview" class="content"></div>
        <p id="error" style="color: red;">{{ error }}</p>
        <button type="submit">Submit</button>
    </form>
    <script>
        const content = document.getElementById('content');
        const preview = document.getElementById('preview');
        preview.innerHTML = marked.parse(content.value);
        content.addEventListener('input', () => {
            preview.innerHTML = marked.parse(content.value);
        });
    </script>
</body>
</html>