<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {{#if query}}
            {{query}} - search in FreeMD
        {{else}}
            FreeMD
        {{/if}}
    </title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <header>
        <div id="header-left">
            <h1 id="header-title" onclick="window.location.href = '/'">FreeMD</h1>
        </div>
        <div id="header-right">
            <input type="text" id="search" placeholder="Search...">
            <button id="new" class="header-btn" onclick="window.location.href = '/new'">+</button>
        </div>
    </header>
    <div id="articles">
        {{#each rows}}
            <div class="article-preview" onclick="window.location = '/article/{{this.id}}'">
                <h2 class="article-title">{{this.title}}</h2>
                <p>{{this.content}}</p>
            </div>
        {{else}}
            <p id="no-articles">No articles yet.</p>
        {{/each}}
    </div>
    <script>
        let search = document.getElementById('search');
        document.addEventListener('keydown', function(event) {
            if (event.key === 'Enter' && search === document.activeElement && search.value.trim() != "") {
                const encodedQuery = encodeURIComponent(search.value);
                window.location.href = `/search?q=${encodedQuery}`;
            }
        });
    </script>
</body>
</html>